<!DOCTYPE html>
<html>
	<head>
		<title>Sujan's Portfolio</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body style="background-color: #ced6e0">
		

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="#">About</a>
						<a class="nav-item nav-link" href="#">Education</a>
						<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact</a>
					</div>
				</div>
			</div>
		</nav>
		<br><br>
		<div class="container">
			
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-primary" role="alert" style="text-align: center;">
					<h1>Welcome</h1>
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="col-md-3">
				<div class="card" style="width: 16rem;">
					<img src="1sujan.png" class="card-img-top" alt="...">
					<div class="card-body">
						
						<p class="card-text">
							<i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>
							Student Developer</p>
						<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Bengaluru, India</p>
						<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>+91 9880375717</p>
						<i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i><a href="https://mail.google.com/mail/u/0/#inbox" style="text-decoration: none">acharsujan@gmail.com</a>
						
					</div>
				</div>
				
			</div>
			
			
			<div class="col-md-5">
				<div class="row  " style="text-align: centre;padding:70px;background-color: #487eb0;border-radius: 2%;">
						<h1 style="color: white">“Failure will never overtake me if my determination to succeed is strong enough.”</h1>
						<p style="text-align: right;color: white"> -Og Mandino</p>
					</div>
				
			</div>
			<div class="col-md-4">
				<div class="jumbotron">
					<h1 class="display-4">Hello, There!</h1>
					<p class="lead">I'm a student pursuing my bachelor's degree in the field of Electronics and Communication Engineering at Dayananda Sagar Academy of technology,Bengaluru.  </p>
					
					<p> I'm also very passionate about football, Even though I am bad at playing it but my love towards it never ends. I support Manchester United and Bengaluru FC. Also I am one of the volunteer for the club BFC</p>
				</div>
				
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-4" style="text-align: center;">
				<br>
                 <div class="jumbotron"> 
				<h3 style="color:#1e3799">Skills</h3>
				<hr style="color: #2f3542">
				<h6>Python , Html , CSS , C , Cpp , MatLab</h6>
				<br>
				<h6> Basic OOPs concept , Verilog HDL</h6>
			</div>
		</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-6" style="text-align: left;">
					<br>
					
					<div class="jumbotron">
					<h3 style="color:#1e3799">Education</h3>
					<hr style="color: #2f3542">
					<p style="color:#45aaf2">Dayananda Sagar Academy of technology</p>
					<h6>Bachelor of Electronics and Communication Engineering, Present GPA:6.65</h6>
					<h6>Bengaluru,Karnataka</h6>
					<h6></h6>
					<br>
					<p style="color:#45aaf2">Jawahar Navodaya Vidyalaya</p>
					<h6>CBSE board, Percentage:84%-PCMc</h6>
					<h6>Udupi,Karnataka</h6>
					<h6></h6>
					<br>
					<br>
					<h6></h6>
					<p style="color:#45aaf2">Jawahar Navodaya Vidyalaya</p>
					<h6>CBSE board, CGPA:9.0</h6>
					<h6>Udupi,Karnataka</h6>
					<h6></h6>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				
			</div>
			<div class="col-md-8">
				<footer class="w3-container w3-center w3-margin-top" style="text-align: center;background-color: ;color: black">
			<br>
			<p>Find me on social media.</p>
			<h2>
			<a href="https://www.facebook.com/sujanr.achar" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
			<a href="https://www.instagram.com/soooojaaaaan/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
			<a href="https://www.linkedin.com/in/sujan-achar-b827ba149/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a> 
			<br><br>
			<a href="#home" class="w3-button w3-white" style="text-decoration: none"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
			
			
		</footer>
			</div>
			<div class="col-md-2">
				
			</div>
		</div>
		</div>
		
	</body>
</html>